$primaryBtnColor: #494957;
$textColor: white;
$h1Color: grey;
$cardBackgroundColor: #f2f2f2;
$cardBorderColor: #d8d8d8;
$mainTextFont: Helvetica;
$buttonHoverBackgroundColor: #0d0d19;
$buttonColor: white;
$buttonBackgroundColor: #d8d8d8;
