@import './_variables.scss';
@import './_search-section.scss';
@import './_starships-section.scss';
@import './_planets-section.scss';
@import './_characters-section.scss';
@import './_particles.scss';

h1 {
  text-decoration: underline;
}

* {
  font-family: $mainTextFont;

  button {
    border: 0px;
    background: $buttonBackgroundColor;
  }

  button:hover {
    background: $buttonHoverBackgroundColor;
    color: $buttonColor !important;
  }

  #starshipcards {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  #planetcards {
    height: 45vh;
    width: 100%;
    object-fit: cover;
  }

  #charactercards {
    height: 45vh;
    width: 100%;
    object-fit: cover;
  }
}
